numpy>=1.26.4,<1.27
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
pandas==2.0.3
Pillow==11.1.0
roboflow==1.1.51
supervision==0.25.1
transformers==4.46.3
ultralytics==8.3.67
deep_sort_realtime==1.3.2
seaborn==0.11.2  
fastapi==0.115.6
uvicorn==0.30.6
pydantic-settings==2.7.0
streamlit==1.40.2
pytest==8.0.0
httpx==0.27.0
